body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #ffffff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content section */
.main-content-section {
  padding: 100px 90px 100px 90px;
}
/* about me section */
.about-me-section {
  margin: 0 0 40px 0;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin: 0 0 20px 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin: 0 0 25px 0;
  color: black;
}
.about-me-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}
/* my project section */
.my-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 10px 0;
}
.my-projects-section {
  margin: 0 0 50px 0;
}
.my-projects-list {
  padding: 0 0 0 17px;
}
.my-projects-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-brecket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
/* my work expirience section */
.my-work-expirience-section {
  margin-bottom: 40px;
}
.name-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.my-work-expirience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.time-of-work {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.divider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.duties-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-left: 17px;
  margin-bottom: 15px;
}
.expirience-company {
  margin-bottom: 15px;
}

/* my education */

.my-university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}
.speciality {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}
.education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

/* sidebar section */
.sidebar-section {
  width: 370px;
  padding: 40px 0;
  background-color: #1e2939;
}
.contakts-section,
.tech-skils-section,
.soft-skils-section {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}
/* contacts section */
.contact-section-tipe {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 7px;
}
.contact-section-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}
.list {
  padding-left: 20px;
}
.tech-skils-item {
  color: #fb6d3a;
}
.list-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
